/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  margin-inline: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.screenreader-text:focus {
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

html {
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1rem;
  line-height: 2.3rem;
}

h1 span {
  font-weight: 300;
  color: #ce9797;
}

p {
  font-size: 0.875rem;
}

body {
  margin: 0 auto;
  background-image: linear-gradient(135deg, white, #fff5f5);
}

.header__img {
  max-width: 100px;
  margin: 2rem 2rem;
}

.coming-soon {
  margin: 0 auto;
  max-width: 500px;
  min-width: 375px;
}

.coming-soon__img2 {
  display: none;
}

.coming-soon__content {
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.coming-soon__content p {
  margin: 2rem 0;
}

.coming-soon__email-space {
  position: relative;
}

.coming-soon__email {
  border: 1px solid #ce9797;
  width: 100%;
  border-radius: 2rem;
  background-color: transparent;
  min-height: 48px;
  padding-left: 2rem;
}

.coming-soon__email:focus {
  border-color: #ce9797;
  outline: red;
}

.coming-soon__email::-webkit-input-placeholder {
  color: #ce9797;
}

.coming-soon__email:-ms-input-placeholder {
  color: #ce9797;
}

.coming-soon__email::-ms-input-placeholder {
  color: #ce9797;
}

.coming-soon__email::placeholder {
  color: #ce9797;
}

.coming-soon__button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2rem;
  height: 100%;
  width: 64px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  cursor: pointer;
}

.coming-soon__button img {
  position: absolute;
  width: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
}

@media screen and (min-width: 1100px) {
  .header {
    position: absolute;
    z-index: 2;
    top: 3rem;
    margin-left: 10%;
  }
  .header__img {
    min-width: 157px;
    max-width: 157px;
  }
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  p {
    font-size: 1rem;
  }
  .coming-soon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1440px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 700px;
  }
  .coming-soon__img1 {
    display: none;
  }
  .coming-soon__img2 {
    display: none;
    position: absolute;
    height: 100%;
    top: 0;
  }
  .coming-soon__content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    padding: 0;
  }
  .coming-soon__item {
    overflow: hidden;
    height: 100vh;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 500px;
    background-image: url(../images/hero-desktop.jpg);
    background-position: top;
    background-position-x: 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 500px;
  }
  .coming-soon__item-2 {
    width: 70%;
    -webkit-box-flex: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
    margin: 0;
    margin-left: 15%;
  }
  .coming-soon__button {
    width: 100px;
  }
  .coming-soon__button:hover {
    background-image: linear-gradient(135deg, #f8bfbf, #f8d3d3);
  }
  footer {
    right: 23%;
  }
}
/*# sourceMappingURL=main.css.map */