html {
    font-family: $font;
    color: $color-Desaturated-Red;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1rem;
    line-height: 2.3rem;;
    span {
        font-weight: 300;;
        color: $color-Desaturated-Red;
    }
}
p {
    font-size: 0.875rem;
    margin: 2rem 0;
}

body {
    margin: 0 auto;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

}
.header {
    &__img {
        max-width: 100px;
        margin: 2rem 2rem;
    }
}
.coming-soon {

    margin: 0 auto;
    max-width: 500px;
    min-width: 375px;
    &__img2 {
        display: none;
    }
    &__content {
        padding: 4rem 2rem;
        margin: 0 auto;
        max-width: 400px;
        text-align: center;
    }
    &__email-space {
        position: relative;

    }
    &__email {
        border: 1px solid $color-Desaturated-Red;
        width: 100%;
        border-radius: 2rem;
        background-color: transparent;
        min-height: 48px;
        padding-left: 2rem;
        &--error {
            border: 2px solid red;
            color: red;
            &::placeholder {
                color: red;
            }
        }
        &:focus {
            border-color: $color-Desaturated-Red;
            outline: red;
        }
        &::placeholder {
            color: $color-Desaturated-Red;
        }
    }
    &__error-img {
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translate(0, -50%);
        max-width: 40px;
    }
    &__button {
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 2rem;
        height: 100%;
        width: 64px;
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%) , hsl(0, 74%, 74%));
        cursor: pointer;
        img {
            position: absolute;
            width: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__text-error {
        font-size: 0.8125rem;
        color: red;
        margin: 0;
        margin-left: 1rem;
        margin-top: .2rem;
        text-align: left;
    }
}
footer {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
}

@media screen and (min-width: 1100px) {
    .header {
        position: absolute;
        z-index: 2;
        top: 3rem;
        margin-left: 10%;
        &__img {
            min-width: 157px;
            max-width: 157px;
        }
    }
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    p {
        font-size: 1rem;
    }
    .coming-soon {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1440px;
        align-items: center;
        min-height: 700px;

        &__img1 {
            display: none;
        }
        &__img2 {
            display: none;
            position: absolute;
            height: 100%;
            top: 0;

        }
        &__content {
            width: fit-content;
            text-align: left;
            padding: 0;
        }
        &__item {
            overflow: hidden;
            height: 100vh;
            flex-grow: 0;
            width: 500px;
            background-image: url(../images/hero-desktop.jpg) ;
            background-position: top;
            // background-position: top 0px;
            background-position-x: 0;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 500px;
        }
        &__item-2 {
            width: 70%;
            flex-grow: 10;
            margin: 0;
            margin-left: 15%;
        }
        &__error-img {
            right: 120px;
        }
        &__button {
            width: 100px;
            &:hover {
                // height: 110%;
                background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 90%));
            }
        }
    }
    footer {
        right: 23%;
    }
}